button {
  width: 155px;
}

#button-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 10px;
  width: 100%;
  z-index: 1;
  border: 2px soild black;
}
